.product-grid-item {
    margin: 0.5rem;
    border: 1px solid var(--surface-d);
    border-radius: 4px;
    display: flex !important;
    flex-direction: column !important;
    gap: 1rem !important;
    padding: 1.25rem !important;
}

.product-grid-item-top,
.product-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.product-grid-item .product-category-icon {
    vertical-align: middle;
    margin-right: 1rem;
}

.product-grid-item .product-category {
    font-weight: 600;
    vertical-align: middle;
}

.product-grid-item .product-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.product-grid-item .product-description {
    margin: 0 0 1rem 0;
}

.product-grid-item .product-price {
    font-size: 1.5rem;
    font-weight: 600;
}

.product-grid-item .product-grid-item-content {
    text-align: center;
    margin-bottom: 1rem;
}

.product-badge {
    padding: 0.25rem 0.5rem;
    border-radius: 2px;
    font-weight: 700;
    font-size: 0.75rem;
}

.status-instock {
    background: #c8e6c9;
    color: #256029;
}

.status-lowstock {
    background: #feedaf;
    color: #8a5340;
}

.status-outofstock {
    background: #ffcdd2;
    color: #c63737;
}

            .ui-rating .ui-rating-star-on a {
    color: var(--primary-color);
}

            .product-grid-item img {
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.product-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--surface-d);
    border-radius: 6px;
    margin-bottom: 1rem;
}

.product-list-item img {
    width: 150px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
                0 3px 6px rgba(0,0,0,0.23);
    margin-right: 2rem;
}

.product-list-detail {
    flex: 1 1 0;
}

.product-name {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.product-description {
    margin: 0 0 1rem 0;
}

.product-list-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.product-price {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.product-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
}

.product-category {
    font-weight: 600;
    vertical-align: middle;
}

.product-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    letter-spacing: .3px;
}
